.customise-form {
    position: absolute;
    top: 8.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    color: var(--primary-color);
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    box-shadow: 0 0 10px var(--primary-color);
    box-sizing: border-box;
}

.customise-form label {
    display: block;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    text-shadow: var(--glow);
}

#nameInput, 
#profilePicture {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

.customise-form input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #1a1a1a;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    color: var(--primary-color);
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    outline: none;
    box-shadow: var(--glow);
    box-sizing: border-box;
}

.customise-form input[type="file"] {
    display: none;
}

.customise-form .profile-icon {
    margin-top: 1rem;
    width: 80px;
    height: 80px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    transition: filter 0.3s ease;
}

.customise-form .profile-icon:hover {
    filter: var(--glow-bright-shadow);
    cursor: pointer;
}

.customise-form button {
    margin-top: 1.5rem;
    padding: 0.75rem 2rem;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: var(--glow);
}

.customise-form button:hover {
    background-color: var(--primary-color);
    color: #000;
    box-shadow: var(--glow-bright);
}

.image-options {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin: 1.5rem 0 2.5rem;
    justify-items: center;
}

.selectable-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* border: 2px solid transparent; */
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    transition: transform 0.2s ease, border 0.3s ease;
}

.selectable-img:hover {
    transform: scale(1.1);
    border: 2px solid var(--primary-color);
}

.selectable-img.selected {
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 12px var(--primary-color);
    transform: scale(1.15);
}

#profilePreview {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.profile-icon {
    display: block;
    margin: 1.5rem auto;
    width: 80px;
    height: 80px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    transition: filter 0.3s ease;
}