/* Play buttons */

.play-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 3rem;
    /* gap: 7rem; */
    justify-content: center;
    align-items: center;
}

.play-button {
    padding: 1rem 2.5rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.25rem;
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    cursor: pointer;
    text-shadow: var(--glow);
    box-shadow: 0 0 10px var(--primary-color);
    transition: all 0.3s ease;
    text-decoration: none;
}

.play-button:hover {
    transform: scale(1.35);
    text-shadow: var(--glow-bright);
}

/* Solar System */

.solar-system {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 1000px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.sun-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: rotate-sun 60s linear infinite;
    transform-origin: center center;
}

@keyframes rotate-sun {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    animation: orbit linear infinite;
}

.orbit img.planet {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.mercury { width: 150px; height: 150px; margin: -75px 0 0 -75px; animation-duration: 10s; }
.venus { width: 210px; height: 210px; margin: -105px 0 0 -105px; animation-duration: 18s; }
.earth { width: 270px; height: 270px; margin: -135px 0 0 -135px; animation-duration: 25s; }
.mars { width: 330px; height: 330px; margin: -165px 0 0 -165px; animation-duration: 35s; }
.jupiter { width: 450px; height: 450px; margin: -225px 0 0 -225px; animation-duration: 60s }
.saturn { width: 540px; height: 540px; margin: -270px 0 0 -270px; animation-duration: 75s; }
.uranus { width: 630px; height: 630px; margin: -315px 0 0 -315px; animation-duration: 90s; }
.neptune { width: 720px; height: 720px; margin: -360px 0 0 -360px; animation-duration: 110s; }

.mercury-img { width: 4px;  height: 4px; }
.venus-img   { width: 7px;  height: 7px; }
.earth-img   { width: 8px;  height: 8px; }
.mars-img    { width: 6px;  height: 6px; }
.jupiter-img { width: 20px; height: 20px; }
.saturn-img  { width: 18px; height: 18px; }
.uranus-img  { width: 14px; height: 14px; }
.neptune-img { width: 13px; height: 13px; }

@keyframes orbit {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}